{sys, [
       {lib_dirs, ["../..", "../deps"]},
       {erts, [{mod_cond, derived}, {app_file, strip}]},
       {app_file, strip},
       {rel, "tcpproxy", "1",
        [
         kernel,
         stdlib,
         sasl,
         alog,
         tcpproxy
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "tcpproxy"},
       {profile, embedded},
       {incl_cond, exclude},
       {mod_cond, derived},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/.*", "^erts.*/bin/(dialyzer|typer)",
                           "^erts.*/(doc|info|include|lib|man|src)"]},
       {excl_app_filters, ["\.gitignore"]},
       
       {app, kernel, [{mod_cond, app}, {incl_cond, include}]},
       {app, stdlib, [{mod_cond, app}, {incl_cond, include}]},
       %{app, compiler, [{mod_cond, app}, {incl_cond, include}]},
       %{app, syntax_tools, [{mod_cond, app}, {incl_cond, include}]},
       {app, sasl, [{mod_cond, app}, {incl_cond, include}]},

       {app, syntax_tools, [{mod_cond, app}, {incl_cond, include}]},
       {app, compiler, [{mod_cond, app}, {incl_cond, include}]},
       {app, edown, [{mod_cond, app}, {incl_cond, include}]},
       {app, parse_trans, [{mod_cond, app}, {incl_cond, include}]},
       {app, syslog, [{mod_cond, app}, {incl_cond, include}]},
       {app, alog, [{mod_cond, app}, {incl_cond, include}]},
       {app, tcpproxy, [{mod_cond, app}, {incl_cond, include}]}
      ]}.

{target_dir, "tcpproxy"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {copy, "files/tcpproxy", "bin/tcpproxy"},
           {copy, "files/tcpproxy.cmd", "bin/tcpproxy.cmd"},
           {copy, "files/start_erl.cmd", "bin/start_erl.cmd"},
           {copy, "files/install_upgrade.escript", "bin/install_upgrade.escript"},
           {copy, "files/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
           {copy, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"}
          ]}.
