[
 %% SASL config
 {sasl, [
         {sasl_error_logger, false}
         %{errlog_type, error},
         %{error_logger_mf_dir, "log/sasl"},      % Log directory
         %{error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         %{error_logger_mf_maxfiles, 5}           % 5 files max
        ]},

 %% TCPProxy
 {tcpproxy, [
             {port, 9090},
             {acceptors, 10},
             {conf_file, "../../dynamic.config"}
            ]},

 %% alogger
 {alog, [
         {enabled_loggers, [alog_tty]},
         {install_error_logger_handler, true},
         {flows, [
                  {{mod, ['_']},{'=<', debug}, [alog_tty]}
                 ]},
         {alog_tty, []}
 ]}

].

